.confirmation-background {
  position: fixed;
  margin-top: 10em;
  top: 0;
  border: 2px solid black;
  border-radius: 2em;
  width: 99vw;
  height: 50%;
  background-color: rgba(128, 128, 128, 0.921);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.confirmation-title {
  color: white;
}

.confirmation-btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.confirmation-cancel-btn {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: rgb(244, 40, 40);
  font-size: 1em;
  font-weight: bold;
  color: white;
  box-shadow: .2em .2em #333;
}

.confirmation-cancel-btn:active {
  box-shadow: 0 .1rem #666;
  transform: translateY(.1em);
}

.confirmation-confirm-btn {
  padding: 1em;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: blue;
  font-weight: bold;
  color: white;
  box-shadow: .2em .2em #333;
  }

.confirmation-confirm-btn:active {
    box-shadow: 0 .1rem #666;
    transform: translateY(.1em);
  }

@media (min-width: 1900px) {
  .confirmation-background {
    width: 50vw; 
    margin: 14em 0em 0em 40em ;
  }
}
