.header-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.xp-logo-header {
  width: 5em;
  height: auto;
}

.user-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: .5em;
  align-items: center;
}

.user-p {
  width: fit-content;
  border-radius: .5em;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  padding: .5em;
  box-shadow: .1em .1em #999;
}

.balance-container {
  padding: 1em;
  background-color: grey;
  margin-bottom: 1em;
}

.balance-p {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  font-weight:bold;
  text-decoration: underline;
  border: 1px solid;
  border-radius: .3em;
  padding: .2em;
  box-shadow: .1em .1em #666;
}

.eye-btn-container {
  text-align: right;
}

.eye-btn {
  border-radius: .5em;
  background-color: #ffc709;
  box-shadow: .2em .2em #666;
}

.eye-btn:active {
  box-shadow: .1 .1rem #666;
  transform: translateY(.1em);
}

@media (max-width: 450px) {
  .xp-logo-header{
    width: 2.3em;
    height: auto;
  }
  .user-p {
    width: fit-content;
    font-size: small;
  }
  }

@media (min-width: 1900px) {
  .user-p {
    padding: 1em;
    font-size: x-large;
  }
  .balance-p {
    font-size: xx-large;
  }
  .eye-btn-container {
    margin-right: 2em;
  }
  .eye-btn {
    width: 5em;
    height: 2em;
    font-size: medium;
  }
}