html {
  background-color: lightgray;
  overflow-x: hidden;
}

.table-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid black;
  margin: 0 1em;
  height: fit-content;
}

.table thead tr {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.table-div {
  display: flex;
  flex-direction: row;
  
}

.table td {
  font-size: 1.3em;
  text-align: center;
  margin: 1em auto;
}

.table th {
  background-color: #80808076;
  padding: 0.3em 0.01em;
  border-radius: .5em;
}

.table-body td{
  width: max-content;
}

.table-btns-container {
  border-radius: 2em;
  width: 4em;
  height: auto;
  transition: .1s;
}

.table-btns-container button {
  border-radius: 2em;
  padding: 1em;
  margin: 0 1em;
}

.table-buy-btn {
  font-weight: bold;
  background-color: #0000ff8b;
  box-shadow: 0 .2em #999;
  font-size: medium;
  color: white
}

.table-buy-btn:disabled {
  background-color: lightgrey;
}

.table-buy-btn:active {
  box-shadow: 0 .1rem #666;
  transform: translateY(.1em);
}

.table-sell-btn {
  font-size: medium;
  font-weight: bold;
  background-color: rgb(1, 131, 1);
  box-shadow: 0 .2em #999;
  color: white
}

.table-sell-btn:active:enabled {
  box-shadow: 0 .1rem #666;
  transform: translateY(.1em);
}

.table-sell-btn:disabled {
  font-weight: bold;
  background-color: lightgrey;
  color: black
}

.action-name {
  border-radius: 1em;
  background-color: #ffc709;
  font-weight: bold;
}
.action-qtd {
  border-radius: 1em;
  background-color: rgb(95, 93, 93);
  color: white;
}
.action-value {
  color: white;
  font-weight: bold;
  border-radius: 1em;
  background-color: black;
}

.deposit-withdraw-btn-container {
  margin: 1em auto;
  text-align: center;
  font-weight: bold;
}

.deposit-withdraw-btn {
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  border-radius: 1em;
  color: white;
  background-color: black;
  box-shadow: .2em .2em #999;
}

.deposit-withdraw-btn:active {
  box-shadow: 0 .1rem #666;
  transform: translateY(.1em);
}

@media (max-width: 450px) {
  .table thead tr {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  .table td {
    font-size: 1em;
    text-align: center;
  }

  .table-btns-container {
    margin-left: 2em;
    width: 3em;
  }

  .table-btns-container button {
    width: 1.5em;
    height: auto;
    padding: 0.1em;
  }
  .action-qtd {
    border-radius: .8em;
  }
}

@media (min-width: 1900px) {
  .deposit-withdraw-btn {
    padding: 2em;
    width: 17em;
    height: auto;
    margin-bottom: 1em;
  }
}
